/*
@media only screen and (max-width: $mobileWidth) {
    body {
        background-color: red;
        font-size: 10px;
    }
}
*/
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Wind Song";
  src: url("../../fonts/WindSong-Regular.ttf");
}
.landing .text_container, .banner .text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

header ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #242424;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 20px 40px;
}

h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, span, li {
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #d8d8d8;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 550px) {
  .desktop {
    display: none !important;
  }
}
header {
  display: block;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px #cccccc solid;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  border-left: none;
  border-right: none;
  background-color: #242424;
}
header ul {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100vw;
  justify-content: space-evenly;
  list-style: none;
}
header ul li {
  display: inline;
  margin: 5px, 0;
  color: #d8d8d8;
}
header ul li img {
  max-height: 63px;
}

.sidebar {
  display: inline-block;
  width: 220px;
  height: fit-content;
  position: sticky;
  top: 85px;
  padding-left: 35px;
}
.sidebar ul {
  padding-inline-start: 0;
  list-style: none;
}
.sidebar ul li {
  color: #b1b1b1;
  line-height: 1.8rem;
}

@media only screen and (max-width: 1050px) {
  .sidebar {
    display: block;
    top: 70px;
    width: 100%;
    height: 65px;
    overflow: scroll;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.849);
  }
  .sidebar ul {
    overflow: visible;
    white-space: nowrap;
  }
  .sidebar ul li {
    display: inline-block;
    padding: 0 1rem;
  }
}
.menu-item {
  text-align: left;
  display: inline-grid;
  grid-template-columns: 30px 220px fit-content(160px);
  column-gap: 8px;
  margin: 20px 10px;
}
.menu-item .number-container {
  grid-column: 1/span 1;
}
.menu-item .text-container {
  grid-column: 2/span 1;
}
.menu-item .dish-name,
.menu-item .dish-description,
.menu-item .dish-price {
  margin: 0.5rem;
}
.menu-item .dish-name {
  font-size: 1.5rem;
}
.menu-item .dish-number {
  text-align: right;
  margin: 12px 0;
}
.menu-item .dish-number,
.menu-item .dish-description {
  font-size: 1rem;
  color: #b1b1b1;
}
.menu-item .dish-price {
  font-size: 1rem;
  color: orange;
}
.menu-item .image-container {
  width: 160px;
  height: 120px;
  grid-column: 3/span 1;
}
.menu-item .dish-image {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  object-fit: cover;
}
@media only screen and (max-width: 1050px) {
  .menu-item .image-container {
    width: 100px;
    height: 70px;
  }
  .menu-item .dish-name {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 550px) {
  .menu-item {
    column-gap: 4px;
  }
}

.landing, .banner {
  position: relative;
  max-height: 110vh;
  overflow: hidden;
}
.landing .image_container, .banner .image_container {
  position: relative;
  display: block;
  width: 100%;
}
.landing .image_container img, .banner .image_container img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}
.landing .image_container::after, .banner .image_container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.65;
}
@media only screen and (max-width: 550px) {
  .landing .image_container, .banner .image_container {
    height: 100vh;
  }
  .landing .image_container img, .banner .image_container img {
    height: 100%;
  }
}
.landing .text_container h1, .banner .text_container h1,
.landing .text_container h2,
.banner .text_container h2 {
  display: block;
  text-align: center;
  padding: none;
  margin: 10px;
}
.landing .text_container h1, .banner .text_container h1 {
  color: orange;
  font-family: "Wind Song";
  font-size: 3.5rem;
}
.landing .text_container h2, .banner .text_container h2 {
  font-size: 2.5rem;
}
@media only screen and (max-width: 550px) {
  .landing .text_container h1, .banner .text_container h1 {
    font-size: 2rem;
  }
  .landing .text_container h2, .banner .text_container h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1550px) {
  .landing .text_container h1, .banner .text_container h1 {
    font-size: 5rem;
  }
  .landing .text_container h2, .banner .text_container h2 {
    font-size: 4rem;
  }
}

#location {
  display: block;
  position: relative;
  background-image: url("../../images/Interior.jpg");
  background-size: cover;
  padding: 1.5rem;
  padding-bottom: 120px;
}
#location h2 {
  text-decoration: underline;
  font-size: 2.5rem;
}
#location span {
  font-size: 1.5rem;
}
#location .desktop {
  display: none;
}
#location .text_right {
  display: inline block;
  position: absolute;
  right: 0;
}
#location::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.65;
}
#location > * {
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 900px) {
  #location {
    background-color: #4d4d4d;
    background-image: none;
    display: grid;
    column-gap: 1rem;
    padding: 2rem;
    grid-template-columns: minmax(280px, 3fr) 4fr;
    justify-content: center;
    justify-items: center;
  }
  #location .left {
    width: 100%;
  }
  #location .right {
    display: flex;
    width: 100%;
    height: 100%;
  }
  #location .right img {
    display: block;
    position: relative;
    width: 70%;
    height: 80%;
    max-height: 450px;
    object-fit: cover;
  }
  #location .right .bottom {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}
@media only screen and (min-width: 700px) {
  #location {
    column-gap: 4rem;
  }
}

.banner {
  width: 100%;
  max-height: 67vh;
}

.menu-section {
  width: 100%;
  padding-top: 70px;
}
.menu-section .menu-section-title {
  display: block;
  color: white;
  margin: 0.5rem;
  background-color: #810505;
}
.menu-section .menu-section-container {
  /*
  $column-width: $dish-number-width + $dish-text-width + $desktop-dish-image-width;
  grid-template-columns: repeat(auto-fit, $column-width);
  text-align: left;

  @media only screen and (min-width: $tabletWidth) and (max-width: 1140px) {
      text-align: center;
  }
  */
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: left;
  flex-wrap: wrap;
}
@media only screen and (max-width: 771px) {
  .menu-section .menu-section-container {
    justify-content: center;
  }
}
.menu-section .menu-section-container img {
  margin: 0 auto;
  max-width: 100%;
}
@media only screen and (max-width: 1050px) {
  .menu-section {
    padding-top: 135px;
  }
}

#layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  justify-content: start;
  justify-items: start;
}

.menu-section {
  grid-column-start: 2;
}

@media only screen and (max-width: 1050px) {
  #layout {
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
  }

  .menu-section {
    grid-column-start: 1;
  }
}

/*# sourceMappingURL=app.css.map */
