// HEADER
$headerHeight: 70px;
$backgroundColour: rgb(36, 36, 36);

// SIDEBAR
$sidebarWidth: 220px;
$sidebarHeight: 65px;

// COLOURS
$highlightTextColour: orange;
$defaultTextColour: rgb(216, 216, 216);
$subtleTextColour: rgb(177, 177, 177);

// FONTS
$defaultFont: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// SCREEN SIZES
$mobileWidth: 550px;
$tabletWidth: 1050px;
$wideWidth: 1550px;

/*
@media only screen and (max-width: $mobileWidth) {
    body {
        background-color: red;
        font-size: 10px;
    }
}
*/


// FONT FAMILIES
@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'Wind Song';
    src: url("../../fonts/WindSong-Regular.ttf");
}