header {
    display: block;
    height: $headerHeight;
    width: 100vw;
    position: sticky !important;
    top: 0;
    z-index: 100;


    border: 1px rgb(204, 204, 204) solid;
    font-family: $defaultFont;
    font-size: 1.5rem;
    border-left: none;
    border-right: none;
    background-color: $backgroundColour;

    ul {
        @extend %horizontalCenter;
        margin: 0;
        padding: 0;
        height: $headerHeight;
        list-style: none;
        li {
            display: inline;
            margin: 5px, 0;
            color: $defaultTextColour;

            img {
                max-height: 0.9 * $headerHeight;
            }
        }
    }
}
