header {
    position: sticky;
    display: block;
    top: 0;
    border: red 1px solid;
    width: 100%;
    height: $headerHeight;
    z-index: 100;
    background-color: white;

    ul {
        overflow: visible;
        white-space: nowrap;
        padding-inline-start: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 0 1rem;
            color: $subtleTextColour;
            line-height: 1.8rem;
        }
    }





    /*
    display: block;
    height: $headerHeight;
    width: 100vw;
    position: sticky !important;
    top: 0;
    z-index: 100;


    border: 1px rgb(204, 204, 204) solid;
    font-family: $defaultFont;
    font-size: 1.5rem;
    border-left: none;
    border-right: none;
    background-color: $backgroundColour;

    ul {
        @extend %horizontalCenter;
        margin: 0;
        padding: 0;
        height: $headerHeight;
        list-style: none;
        li {
            display: inline;
            margin: 5px, 0;
            color: $defaultTextColour;

            img {
                max-height: 0.9 * $headerHeight;
            }
        }
    }
    */
}
