$desktop-dish-image-height: 120px;
$desktop-dish-image-width: 160px;
$mobile-dish-image-height: 70px;
$mobile-dish-image-width: 100px;
$dish-number-width: 30px;
$dish-text-width: 220px;
$dish-horizontal-margin: 10px;
$dish-column-gap: 4px;

.menu-item {
    text-align: left;
    display: inline-grid;
    grid-template-columns: $dish-number-width $dish-text-width fit-content($desktop-dish-image-width);
    column-gap: $dish-column-gap;
    margin: 20px $dish-horizontal-margin;
    

    .number-container {
        grid-column: 1 / span 1;
    }

    .text-container {
        grid-column: 2 / span 1;
    }

    
    .dish-name,
    .dish-description,
    .dish-price {
        margin: 0.5rem;
    }

    .dish-name {
        font-size: 1.5rem;
    }

    .dish-number {
        text-align: right;
        margin: 12px 0;
    }

    .dish-number,
    .dish-description {
        font-size: 1rem;
        color: $subtleTextColour;
    }

    .dish-price {
        font-size: 1rem;
        color: $highlightTextColour;
    }

    .image-container {
        width: $desktop-dish-image-width;
        height: $desktop-dish-image-height;
        grid-column: 3 / span 1;
    }

    .dish-image {
        width: 100%;
        height: 100%;
        border-radius: 20%;
        object-fit: cover;
    }

    // RESIZING
    @media only screen and (max-width: $tabletWidth) {
        .image-container {
            width: $mobile-dish-image-width;
            height: $mobile-dish-image-height;
        }

        .dish-name {
            font-size: 1.2rem;
        }
    }
    
    // MOBILE
    @media only screen and (max-width: $mobileWidth) {
        column-gap: 4px;
    }
}
