$desktop-menu-item-image-height: 120px;
$desktop-menu-item-image-width: 160px;
$mobile-menu-item-image-height: 80px;
$mobile-menu-item-image-width: 120px;

.menu-item {
    display: inline-grid;
    grid-template-columns: 220px fit-content($desktop-menu-item-image-width);
    column-gap: 8px;
    margin: 20px 15px;
    

    .dish-name,
    .dish-description,
    .dish-price {
        margin: 0.5rem;
    }

    .dish-name {
        font-size: 1.5rem;
    }

    .dish-description {
        font-size: 1rem;
        color: $subtleTextColour;
    }

    .dish-price {
        font-size: 1rem;
        color: $highlightTextColour;
    }

    .dish-image {
        width: 100%;
        height: 100%;
        border-radius: 20%;
        object-fit: cover;
    }

    .image-container {
        width: $desktop-menu-item-image-width;
        height: $desktop-menu-item-image-height;
        grid-column: 2 / span 1;

        align-self: center;
        justify-self: center;
    }

    // RESIZING
    @media only screen and (max-width: $tabletWidth) {
        .image-container {
            width: $mobile-menu-item-image-width;
            height: $mobile-menu-item-image-height;
        }

        .dish-name {
            font-size: 1.2rem;
        }
    }
}
