.sidebar {
    display: inline-block;
    width: $sidebarWidth;
    height: fit-content;
    position: sticky;
    top: $headerHeight + 15px;
    padding-left: 35px;
    // border: red 1px solid;

    ul {
        padding-inline-start: 0;
        list-style: none;

        .nav_highlight {
            border-radius: 3px;
            border-left: rgb(201, 28, 28) 6px solid;
        }

        li {
            padding-left: 8px;
            color: $subtleTextColour;
            line-height: 1.8rem;
        }
    }

    // RESIZING
    @media only screen and (max-width: $tabletWidth) {
        display: block;
        top: $headerHeight;
        width: 100%;
        height: $sidebarHeight;
        overflow: scroll;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.849);

        ul {
            overflow: visible;
            white-space: nowrap;

            .nav_highlight {
                border-left: none;
                border-bottom: rgb(201, 28, 28) 6px solid;
            }

            li {
                display: inline-block;
                padding: 0 1rem;
            }
        }
    }
}
