.menu-section {
    padding-top: $headerHeight;
    display: flex;
    align-items: start;
    justify-items: flex-start;
    flex-wrap: wrap;
    
    

    // FOR PLACEHOLDER MENUS
    img {
        margin: 0 auto;
        max-width: 100%;
    }
}