.menu-section {
    width: 100%;
    padding-top: $headerHeight;

    .menu-section-title {
        display: block;
        color: white;
        margin: 0.5rem;
        background-color: rgb(129, 5, 5);
    }

    .menu-section-container {
        /*
        $column-width: $dish-number-width + $dish-text-width + $desktop-dish-image-width;
        grid-template-columns: repeat(auto-fit, $column-width);
        text-align: left;
        
        @media only screen and (min-width: $tabletWidth) and (max-width: 1140px) {
            text-align: center;
        }
        */
        

        
        display: flex;
        width: 100%;
        align-items: start;
        justify-content: left;
        flex-wrap: wrap;
        $min-column-width: $dish-number-width + $dish-text-width + $mobile-dish-image-width;

        @media only screen and (max-width: 771px) {
            justify-content: center;
        }
        
        

        // FOR PLACEHOLDER MENUS
        img {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    // RESIZING
    @media only screen and (max-width: $tabletWidth) {
        padding-top: $headerHeight + $sidebarHeight;
    }
}
